header{
  
}
input {
  padding: 0 10px;
}
#myList {
  margin-top: 20px;
  padding-left: 0;
  list-style-type: none;
  li {
    padding: 5px 0;
  }
}
.rmvBtn {
  float: right;
}
.done {
  text-decoration: line-through;
}